In [3]:
import pandas as pd
import numpy as np

In [23]:
df = pd.read_excel("hava_durumu.xlsx")
df

,Unnamed: 0,time,temperature_2m_max (°C),apparent_temperature_max (°C),precipitation_sum (mm),rain_sum (mm),snowfall_sum (cm),res
0,0,2022-03-06,7.5,1.9,3.5,3.5,0.0,NaN
1,1,2022-03-07,6.8,1.2,4.1,4.1,0.0,NaN
2,2,2022-03-08,5.8,1.2,2.5,2.5,0.0,NaN
3,3,2022-03-09,5.7,-0.1,1.1,1.1,0.0,NaN
4,4,2022-03-10,3.0,-2.9,7.5,1.5,4.2,NaN
...,...,...,...,...,...,...,...,...
361,361,2023-03-02,8.2,3.5,0.8,0.8,0.0,NaN
362,362,2023-03-03,9.3,5.9,0.2,0.2,0.0,NaN
363,363,2023-03-04,11.4,8.8,1.5,1.5,0.0,NaN
364,364,2023-03-05,6.9,6.1,NaN,NaN,NaN,NaN
365,365,2023-03-06,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df=df.drop(["time","Unnamed: 0"], axis=1)

In [30]:
df

,temperature_2m_max (°C),apparent_temperature_max (°C),precipitation_sum (mm),rain_sum (mm),snowfall_sum (cm),res
0,7.5,1.9,3.5,3.5,0.0,NaN
1,6.8,1.2,4.1,4.1,0.0,NaN
2,5.8,1.2,2.5,2.5,0.0,NaN
3,5.7,-0.1,1.1,1.1,0.0,NaN
4,3.0,-2.9,7.5,1.5,4.2,NaN
...,...,...,...,...,...,...
361,8.2,3.5,0.8,0.8,0.0,NaN
362,9.3,5.9,0.2,0.2,0.0,NaN
363,11.4,8.8,1.5,1.5,0.0,NaN
364,6.9,6.1,NaN,NaN,NaN,NaN
365,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
for i, row in df.iterrows():
    if row["temperature_2m_max (°C)"]<=5:
        row["res"]=5
    elif row["temperature_2m_max (°C)"]<=10:
        row["res"]=4
    elif row["temperature_2m_max (°C)"]<=15:
        row["res"]=3
    elif row["temperature_2m_max (°C)"]<=20:
        if row["precipitation_sum (mm)"]>1:
            row["res"]=3
        else:
            row["res"]=2
    else:
        if row["precipitation_sum (mm)"]>1:
            row["res"]=3
        else:
            row["res"]=1

In [47]:
df

,temperature_2m_max (°C),apparent_temperature_max (°C),precipitation_sum (mm),rain_sum (mm),snowfall_sum (cm),res
0,7.5,1.9,3.5,3.5,0.0,4.0
1,6.8,1.2,4.1,4.1,0.0,4.0
2,5.8,1.2,2.5,2.5,0.0,4.0
3,5.7,-0.1,1.1,1.1,0.0,4.0
4,3.0,-2.9,7.5,1.5,4.2,5.0
...,...,...,...,...,...,...
361,8.2,3.5,0.8,0.8,0.0,4.0
362,9.3,5.9,0.2,0.2,0.0,4.0
363,11.4,8.8,1.5,1.5,0.0,3.0
364,6.9,6.1,NaN,NaN,NaN,4.0
365,NaN,NaN,NaN,NaN,NaN,1.0

In [51]:
df = df.drop(["apparent_temperature_max (°C)","rain_sum (mm)","snowfall_sum (cm)"], axis=1)

In [52]:
df.to_excel("havadurum_son.xlsx")

In [83]:
df

     temperature_2m_max (°C)  precipitation_sum (mm)  res
0                        7.5                     3.5  4.0
1                        6.8                     4.1  4.0
2                        5.8                     2.5  4.0
3                        5.7                     1.1  4.0
4                        3.0                     7.5  5.0
..                       ...                     ...  ...
361                      8.2                     0.8  4.0
362                      9.3                     0.2  4.0
363                     11.4                     1.5  3.0
364                      6.9                     NaN  4.0
365                      NaN                     NaN  1.0

[366 rows x 3 columns]

In [4]:
import tensorflow as tf

In [349]:
df=pd.read_excel("havadurumu_yeni.xlsx")

In [350]:
for i, row in df.iterrows():
    if row["temperature_2m_max (°C)"]<=5:
        row["res"]=4
    elif row["temperature_2m_max (°C)"]<=10:
        row["res"]=3
    elif row["temperature_2m_max (°C)"]<=15:
        row["res"]=2
    elif row["temperature_2m_max (°C)"]<=20:
        if row["precipitation_sum (mm)"]>1:
            row["res"]=2
        else:
            row["res"]=1
    else:
        if row["precipitation_sum (mm)"]>1:
            row["res"]=2
        else:
            row["res"]=0

In [351]:
df

      temperature_2m_max (°C)  precipitation_sum (mm)  res
0                         4.0                     7.9  4.0
1                         6.1                     0.0  3.0
2                        10.0                     0.0  3.0
3                        12.7                     0.0  2.0
4                        13.7                    13.3  2.0
...                       ...                     ...  ...
8395                      9.5                     0.9  3.0
8396                      8.2                     0.8  3.0
8397                      9.3                     0.2  3.0
8398                     11.4                     1.5  2.0
8399                      6.9                     NaN  3.0

[8400 rows x 3 columns]

In [254]:
df.replace(0,0.5).fillna(0.5)

      temperature_2m_max (°C)  precipitation_sum (mm)  res
0                         4.0                     7.9  0.5
1                         6.1                     0.5  0.5
2                        10.0                     0.5  0.5
3                        12.7                     0.5  0.5
4                        13.7                    13.3  0.5
...                       ...                     ...  ...
8395                      9.5                     0.9  0.5
8396                      8.2                     0.8  0.5
8397                      9.3                     0.2  0.5
8398                     11.4                     1.5  0.5
8399                      6.9                     0.5  0.5

[8400 rows x 3 columns]

In [352]:
## df to numpy array
df_np_x = df.replace(0,0.5).fillna(0.5)[["temperature_2m_max (°C)","precipitation_sum (mm)"]].to_numpy()
df_np_y = df.replace(0,0.5).fillna(0.5)["res"].to_numpy()

In [353]:
df_np_x.shape

(8400, 2)

In [354]:
df_np_y.shape

(8400,)

In [355]:
from sklearn.model_selection import train_test_split

In [479]:
X_train, X_test, y_train, y_test = train_test_split(df_np_x, df_np_y, test_size=0.2, random_state=2)

In [480]:
X_train.shape

(6720, 2)

In [481]:
X_test.shape

(1680, 2)

In [5]:
from tensorflow import keras

In [517]:
model = keras.Sequential([
    keras.layers.Dense(64, input_shape=(2,), activation="relu", kernel_initializer="ones", bias_initializer="zeros"),
    keras.layers.Dense(64, activation="relu"),
    keras.layers.Dense(48, activation="relu"),
    keras.layers.Dense(32, activation="relu"),
    keras.layers.Dense(32, activation="relu"),
    keras.layers.Dense(24, activation="relu"),
    keras.layers.Dense(16, activation="relu"),
    keras.layers.Dense(16, activation="relu"),
    keras.layers.Dense(12, activation="relu"),
    keras.layers.Dense(8, activation="relu"),
    keras.layers.Dense(8, activation="relu"),
    keras.layers.Dense(6, activation="relu"),
    keras.layers.Dense(5, activation="softmax")
])

model.compile(optimizer="adam",
             loss="sparse_categorical_crossentropy",
             metrics=["accuracy"])

In [518]:
model.fit(X_train,y_train, epochs=15, batch_size=20)

Epoch 1/15

2023-03-11 17:06:32.594338: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:113] Plugin optimizer for device_type GPU is enabled.

336/336 [==============================] - 5s 10ms/step - loss: 1.4746 - accuracy: 0.0371
Epoch 2/15
336/336 [==============================] - 3s 8ms/step - loss: 0.6886 - accuracy: 0.3996
Epoch 3/15
336/336 [==============================] - 3s 9ms/step - loss: 0.4762 - accuracy: 0.4664
Epoch 4/15
336/336 [==============================] - 3s 8ms/step - loss: 0.4113 - accuracy: 0.5015
Epoch 5/15
336/336 [==============================] - 3s 9ms/step - loss: 0.3525 - accuracy: 0.5338
Epoch 6/15
336/336 [==============================] - 3s 8ms/step - loss: 0.3481 - accuracy: 0.5351
Epoch 7/15
336/336 [==============================] - 3s 9ms/step - loss: 0.3199 - accuracy: 0.5491
Epoch 8/15
336/336 [==============================] - 3s 9ms/step - loss: 0.2986 - accuracy: 0.5490
Epoch 9/15
336/336 [==============================] - 3s 9ms/step - loss: 0.3062 - accuracy: 0.5429
Epoch 10/15
336/336 [==============================] - 3s 9ms/step - loss: 0.3043 - accuracy: 0.5420
Epoch 11/15
336/336 [==============================] - 3s 9ms/step - loss: 0.2857 - accuracy: 0.5555
Epoch 12/15
336/336 [==============================] - 3s 9ms/step - loss: 0.2981 - accuracy: 0.5552
Epoch 13/15
336/336 [==============================] - 3s 9ms/step - loss: 0.2872 - accuracy: 0.5551
Epoch 14/15
336/336 [==============================] - 3s 9ms/step - loss: 0.2599 - accuracy: 0.5609
Epoch 15/15
336/336 [==============================] - 3s 9ms/step - loss: 0.2882 - accuracy: 0.5563

In [519]:
model.evaluate(X_test,y_test)

2023-03-11 17:07:20.606681: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:113] Plugin optimizer for device_type GPU is enabled.

53/53 [==============================] - 1s 11ms/step - loss: 0.1934 - accuracy: 0.5732

[0.19344352185726166, 0.5732142925262451]

In [532]:
[np.argmax(e) for e in model.predict([[13,2.0]])]

1/1 [==============================] - 0s 19ms/step

[2]

In [340]:
model.predict(X_test)

53/53 [==============================] - 0s 2ms/step

array([[3.0543580e-31, 3.2301606e-38, 7.2894704e-18, 5.0095762e-03,
        9.9499041e-01],
       [4.7885879e-07, 9.7106444e-03, 2.0848621e-01, 6.8199557e-01,
        9.9807121e-02],
       [4.2924148e-07, 2.6025636e-02, 2.8465086e-01, 6.4352947e-01,
        4.5793653e-02],
       ...,
       [4.4348715e-07, 1.0136525e-02, 2.1100490e-01, 6.8697739e-01,
        9.1880701e-02],
       [2.7072474e-25, 2.1107521e-29, 1.2011408e-13, 3.0617779e-02,
        9.6938223e-01],
       [3.8833359e-06, 1.8890464e-07, 1.0743458e-03, 2.4250159e-01,
        7.5642002e-01]], dtype=float32)

In [536]:
keras.models.save_model(model, 'model.h5')

In [6]:
new_m=keras.models.load_model("model.h5")

Metal device set to: Apple M1

2023-03-11 18:25:04.434500: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2023-03-11 18:25:04.434975: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

In [16]:
# 0: it's hot you don't need to wear anything but tshirt
# 1: wear something light
# 2: wear raincoat
# 3: it seems cold, wear coat
# 4: it's freezing cold, bundle up

dic={"0":"çok sıcak üstüne bir şey almana gerek yok", "1":"üstüne ince bir şey al",
    "2":"üstüne yağmurluk al", "3":"hava soğuk görünüyor üstüne mont al", "4":"hava buz gibi sıkı sıkı giyin"}

In [7]:
temperature=17
precipitation=2

In [18]:
pred = np.argmax(new_m.predict([[int(temperature),int(precipitation)]]))

1/1 [==============================] - 0s 17ms/step

In [19]:
dic[f"{pred}".format(pred=pred)]

'üstüne yağmurluk al'

In [535]:
model.summary()

Model: "sequential_69"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_318 (Dense)           (None, 64)                192

 dense_319 (Dense)           (None, 64)                4160

 dense_320 (Dense)           (None, 48)                3120

 dense_321 (Dense)           (None, 32)                1568

 dense_322 (Dense)           (None, 32)                1056

 dense_323 (Dense)           (None, 24)                792

 dense_324 (Dense)           (None, 16)                400

 dense_325 (Dense)           (None, 16)                272

 dense_326 (Dense)           (None, 12)                204

 dense_327 (Dense)           (None, 8)                 104

 dense_328 (Dense)           (None, 8)                 72

 dense_329 (Dense)           (None, 6)                 54

 dense_330 (Dense)           (None, 5)                 35

=================================================================
Total params: 12,029
Trainable params: 12,029
Non-trainable params: 0
_________________________________________________________________